---
import Link from './Link.astro';

interface Props {
    professional: {
        title: string;
        date: string;
        location: string;
        company: string;
    }[]
}

const {professional} = Astro.props;
---

<ul class="text-textcolor list-disc ml-4">
    {professional.map(({title, date, location, company}: {title: string, date: string, location: string, company: string}) => (
        <li class="mt-5 text-sm md:text-md">
            <b>{company}</b> | {location} <span class="float-right invisible md:visible">{date}</span><br>
            <p class="mt-1">{title}</p>
        </li>
    ))}
    <li class="mt-5 text-sm md:text-md">I majored in computer science at <Link href="https://www.csi.cuny.edu/">College of Staten Island</Link>. <span class="float-right invisible md:visible">2021 - 2024</span></li>
</ul>